# -*- mode: python ; coding: utf-8 -*-
from pathlib import Path
project_path = r'...' #insert the project path here

import sys
sys.path.append(project_path)

from daihon.templates import get_addfiles

block_cipher = None

add_files = get_addfiles(project_path)

a = Analysis([Path(project_path) / 'ScenarioEditor.py'],
             pathex=[project_path],
             binaries=[],
             datas=add_files,
             hiddenimports=[],
             hookspath=[],
             runtime_hooks=[],
             excludes=[],
             win_no_prefer_redirects=False,
             win_private_assemblies=False,
             cipher=block_cipher,
             noarchive=False)
pyz = PYZ(a.pure, a.zipped_data,
             cipher=block_cipher)
exe = EXE(pyz,
          a.scripts,
          a.binaries,
          a.zipfiles,
          a.datas,
          [],
          name='ScenarioEditor',
          debug=False,
          bootloader_ignore_signals=False,
          strip=False,
          upx=True,
          upx_exclude=[],
          runtime_tmpdir=None,
          console=False )
